:root {
    --PLAYER2:#fbff7e;
    --PLAYER1: #67ff83; 
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 0.8rem;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GRID LAYOUT*/
/* Main container */
#player1 {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
/* Y Axis */
#yAxis1 { grid-area: 1 / 1 / 11 / 2; background-color: var(--PLAYER1);}
#yAxis1 { display: flex; flex-direction: column;}
#yAxis1 div {flex: 1}

/* X Axis */
#xAxis1 { grid-area: 11 / 2 / 12 / 12; background-color: var(--PLAYER1); }
#xAxis1 { display: flex;}
#xAxis1 div {flex: 1}

/* Board */
#board1 { grid-area: 1 / 2 / 11 / 12; background-color: #a3e8ff;}

/*END GRID LAYOUT*/
#xAxis1 {
    display: flex;
}
#board1 {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

/* GRID LAYOUT*/
/* Main container */
#player2 {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
/* Y Axis */
#yAxis2 { grid-area: 1 / 1 / 11 / 2; background-color: var(--PLAYER2);}
#yAxis2 { display: flex; flex-direction: column;}
#yAxis2 div {flex: 1}

/* X Axis */
#xAxis2 { grid-area: 11 / 2 / 12 / 12; background-color: var(--PLAYER2); }
#xAxis2 { display: flex;}
#xAxis2 div {flex: 1}

/* Board */
#board2 { grid-area: 1 / 2 / 11 / 12; background-color:#a3e8ff;}

/*END GRID LAYOUT*/
#xAxis2 {
    display: flex;
}
#board2 {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.boardRow {
    display: flex;
    background-color: #a9ff77;
}

.boardCell {
    flex: 1;
    background-color: #df50ff;
    color:white;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* center cells text */
.boardCell, 
#xAxis1 div,
#yAxis1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#xAxis2 div,
#yAxis2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temporalButtons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.boardCell:active {
    color: red;
}

.boardCell.undiscovered:hover {
    outline: 1px solid white;
    background-color: red;
    color: red;

}

#gameInfo {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#gameInfo button {
    padding: 2px 5px;
}

